body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.table {
  width: 100%;
}

.button {
  background-color: #ed1c24;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  box-shadow: none;
  border-radius: 5px;
  padding: 7px;
}

.logo {
  margin: 15px 0px 30px 15px;
}

.extra {
  font-family: 'Times New Roman', serif;
  color: #ed1c24;
  font-size: 106px;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
